body {direction: rtl;}
.nav-header .sub-menu {left:auto;right:0;}
.search input{padding-right: 15px;padding-left: 0}
.logo-title {margin-left: 0;margin-right: 15px}
.separator-long {margin-right:-195%;margin-left: 0}
.contact-info .icon {margin-left: 5%;margin-right:0;}
.news-item img{margin-left: 5px;margin-right: 0}
.breadcrumb li:after{transform: rotateY(0);}
.single-item2 .admin-post figure img{margin-left: 10px;margin-right:0;}
.widget .time span:first-child {padding-left: 10px;padding-right:0}
.widget .time span:last-child {padding-right: 10px;padding-left:0}
.nav-header .sub-menu .sub-menu {right:85%;left:auto}
.nav-header .sub-menu li:hover ul {right: 100%;left:auto}
.nav-header .sub-menu .menu-item-has-children>a:after {transform:rotate(90deg);left: 10px;right: auto}
.nav-header .sub-menu .sub-menu .sub-menu {right:85%;left:auto}
.nav-header .sub-menu .sub-menu li:hover ul {right: 100%;left:auto}
.nav-header .sub-menu .sub-menu .sub-menu .sub-menu {right:85%;left:auto}
.nav-header .sub-menu .sub-menu .sub-menu li:hover ul {right: 100%;left:auto}
.nav-header .menu-item-has-children>a:after{padding-right: 10px;padding-left:0}
.comment-meta .comment-author .avatar {margin-left: 10px;margin-right:0;}
.meta-data i {margin-left: 5px;margin-right:0;}
.meta-data div {margin-left: 5%;margin-right:0;}
.article-blog-bottom .title-post {padding-right: 15px;padding-left:0;}
.read-more i {margin-right: 10px; transform: translateY(2px) rotate(0);}
.pagination a.next i ,.pagination a.prev i{transform: rotate(180deg);}
.woocommerce nav.woocommerce-pagination ul li .prev,.woocommerce nav.woocommerce-pagination ul li .next {width: 2.4em;height: 2.4em;margin: 5px;padding: 3px;transform: rotate(180deg);}
.woocommerce-account .woocommerce-MyAccount-navigation {float: right;}
.wp-block-column:not(:first-child) {margin-right: 32px;margin-left:0}
.wp-block-gallery.columns-1 .blocks-gallery-image:nth-of-type(n), .wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(n), .wp-block-gallery.columns-2 .blocks-gallery-image:nth-of-type(2n), .wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n), .wp-block-gallery.columns-3 .blocks-gallery-image:nth-of-type(3n), .wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n), .wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(4n), .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n), .wp-block-gallery.columns-5 .blocks-gallery-image:nth-of-type(5n), .wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n), .wp-block-gallery.columns-6 .blocks-gallery-image:nth-of-type(6n), .wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n), .wp-block-gallery.columns-7 .blocks-gallery-image:nth-of-type(7n), .wp-block-gallery.columns-7 .blocks-gallery-item:nth-of-type(7n), .wp-block-gallery.columns-8 .blocks-gallery-image:nth-of-type(8n), .wp-block-gallery.columns-8 .blocks-gallery-item:nth-of-type(8n){margin-left: 0;}
.wp-block-gallery .blocks-gallery-item {margin-right:0 !important;margin-left: 16px;}
.wp-block-gallery .blocks-gallery-image:last-child, .wp-block-gallery .blocks-gallery-item:last-child {margin-right: 0 !important;margin-left: 0 !important;}
@media (max-width: 767px) {
    .main-menu {right: auto;left: 0;transform: translateX(-100%);}
    .open_menu #nav_btn {right: auto;left:75%;}
    .nav-header .sub-menu .sub-menu,.nav-header .sub-menu .sub-menu .sub-menu,.nav-header .sub-menu .sub-menu li:hover ul,.nav-header .sub-menu .sub-menu .sub-menu .sub-menu,.nav-header .sub-menu li:hover ul,.nav-header .sub-menu .sub-menu .sub-menu li:hover ul {padding-right: 10px;right: 0;padding-left:0;left: auto;}
    .nav-header .sub-menu .menu-item-has-children > a:after {right: 0;padding-right:10px;padding-left:0;left: auto;}
    .nav-header .sub-menu .menu-item-has-children>a:after {transform:rotate(0);left: 10px;right: auto}
}